<div class="main ">
  <div class="page-header">
    <div class="pull-left">
      <ol class="breadcrumb visible-sm visible-md visible-lg">                
        <li><a href="<%= root_path %>"><i class="icon fa fa-home"></i>首页</a></li>
        <li class="active"><a href="<%= edit_user_registration_path %>"><i class="fa fa-pencil-square-o"></i>个人信息</a></li>
      </ol>           
    </div>
    <div class="pull-right">
      <h2>个人信息</h2>
    </div>          
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading bk-bg-primary">
          <h6><i class="fa fa-indent red"></i>填写表单</h6>              
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal", role: "form", multipart: true }) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <label class="col-md-3 control-label" for="username">用户名</label>
              <div class="col-md-9">
                <%= f.text_field :username, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="phone">手机号</label>
              <div class="col-md-9">
                <%= f.text_field :phone, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">邮箱</label>
              <div class="col-md-9">
                <%= f.email_field :email, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="password">新密码</label>
              <div class="col-md-9">
                <%= f.password_field :password, class: "form-control" %>
                <span class="help-block">密码至少为6位（如果不想修改，请留空）</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="password_confirmation">确认新密码</label>
              <div class="col-md-9">
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="password_confirmation">当前密码</label>
              <div class="col-md-9">
                <%= f.password_field :current_password, class: "form-control" %>
                <span class="help-block">密码至少为6位</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-md-offset-3">
                <button type="submit" class="bk-margin-5 btn btn-primary">保存</button>
                <button type="button" class="bk-margin-5 btn btn-default" onclick="javascript:history.go(-1);">返回</button>
              </div>
            </div>
            <br>
          <% end %>
        </div>  
      </div>  
    </div>
  </div>
</div>

