<% if current_user %>
<div class="main ">
  <div class="page-header">
    <div class="pull-left">
      <ol class="breadcrumb visible-sm visible-md visible-lg">                
        <li><a href="<%= root_path %>"><i class="icon fa fa-home"></i>首页</a></li>
        <li><a href="<%= users_path %>"><i class="fa fa-list-alt"></i>系统管理</a></li>
        <li class="active"><a href="<%= new_user_session_path %>"><i class="fa fa-pencil-square-o"></i>新增管理员</a></li>
      </ol>           
    </div>
    <div class="pull-right">
      <h2>新增管理员</h2>
    </div>          
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading bk-bg-primary">
          <h6><i class="fa fa-indent red"></i>填写表单</h6>              
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <label class="col-md-3 control-label" for="shop_id">店铺</label>
              <div class="col-md-9">
                <% options = Shop.normal.order(:id).pluck(:name, :id) %>
                <%= f.select :shop_id, options.insert(0,["选择店铺",""]), {}, class: 'form-control'%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="role">角色</label>
              <div class="col-md-9">
                <%= f.select :role, [["店铺管理员", "user"], ["高级管理员", "editor"], ["超级管理员", "admin"]], {}, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="username">用户名</label>
              <div class="col-md-9">
                <%= f.text_field :username, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="phone">手机号</label>
              <div class="col-md-9">
                <%= f.text_field :phone, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">邮箱</label>
              <div class="col-md-9">
                <%= f.email_field :email, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="password">密码</label>
              <div class="col-md-9">
                <%= f.password_field :password, class: "form-control" %>
                <span class="help-block">密码至少为6位</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="password_confirmation">确认密码</label>
              <div class="col-md-9">
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-md-offset-3">
                <button type="submit" class="bk-margin-5 btn btn-primary">保存</button>
                <button type="button" class="bk-margin-5 btn btn-default" onclick="javascript:history.go(-1);">返回</button>
              </div>
            </div>
            <br>
          <% end %>
        </div>  
      </div>  
    </div>
  </div>
</div>
<% else %>
<div class="body-register">
  <div class="center-register">
    <a href="#" class="logo pull-left hidden-xs">
      <img src="/assets/logo.png" height="45" alt="NADHIF Admin" />
    </a>
    <div class="panel panel-register">
      <div class="panel-title-register text-right">
        <h2 class="title text-uppercase"><i class="fa fa-user"></i> 注册超级管理员</h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :role, value: 'admin' %>
          <div class="form-group">
            <label>用户名</label>
            <%= f.text_field :username, class: "form-control" %>
          </div>
          <div class="form-group">
            <label>手机号</label>
            <%= f.text_field :phone, class: "form-control" %>
          </div>
          <div class="form-group">
            <label>邮箱</label>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label>密码</label>
                <%= f.password_field :password, class: "form-control" %>
                <span class="help-block">密码至少为6位</span>
              </div>
              <div class="col-sm-6">
                <label>确认密码</label>
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <button type="submit" class="btn btn-primary hidden-xs bk-margin-top-10">注册</button>
              <button type="button" class="btn btn-default hidden-xs bk-margin-top-10" onclick="javascript:history.go(-1);">返回</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
