<style>
  .input-group-addon, .input-group-btn {
    width: 0%;
    white-space: nowrap;
    vertical-align: middle;
  }
  .chartInfoHead {
    border-bottom: 1px solid #ccc;
    padding-bottom: 19px;
    font-size: 16px;

  }
  .chartInfoHeadFooter {
    border-top: 1px solid #ccc;
    padding-top: 19px;
    font-size: 16px;
  }
  .chartInfoCon1 b, .chartInfoCon2 b {
    display: block;
    font-size: 30px;
    padding: 10px 0;
  }
</style>

<div class="main sidebar-minified">     
  <div class="page-header">
    <div class="pull-left">
      <ol class="breadcrumb visible-sm visible-md visible-lg">                
        <li><a href="<%= root_path %>"><i class="icon fa fa-home"></i>首页</a></li>
        <li class="active"><a href="javascript:void(0);"><i class="fa fa-random"></i><%= @product_shop.try(:name) %>&nbsp;&nbsp;产品销量统计</a></li>
      </ol>           
    </div>
    <div class="pull-right">
      <h2>产品销量统计</h2>
    </div>          
  </div>
  <div class="row">         
    <div class="col-lg-12">
      <div class="bk-bg-white">
        <div class="panel-body mailbox-btn-action text-center">
          <div class="col-sm-2 col-xs-12 bk-padding-top-15 text-center">
            <span class="item-action-group">                  
              <%{"今天" => "one_days", "最近7天" => "one_weeks", "最近一月" => "one_months"}.each do |key, value|%>
                <a href="<%= product_statistic_path(@product_shop, created_date: value) %>" class="btn btn-info item-action <%= "active" if @date == value %>"><%= key %></a>
              <%end%>
            </span>
          </div>                  
          <div class="col-sm-10 col-xs-12 bk-padding-top-15 text-center">
            <%= search_form_for @q, url: product_statistic_path(@product_shop), class: 'form-horizontal', html: { method: :get } do |f| %>
              <%= hidden_field_tag :created_date, params[:created_date] %>
              <%
                category_options = user_categories(@product_shop).pluck(:name, :id)
                sub_category_options = user_sub_categories(@product_shop).where(category_id: f.object.category_id_eq).pluck(:name, :id)
                detail_category_options = user_detail_categories(@product_shop).where(sub_category_id: f.object.sub_category_id_eq).pluck(:name, :id)
              %>
              <div class="form-group col-sm-2">
                <%= f.select :category_id_eq, category_options.insert(0,["选择大分类",""]), {}, id: 'category_id', class: "form-control" %>
              </div>
              <div class="form-group col-sm-2">
                <%= f.select :sub_category_id_eq, sub_category_options.insert(0,["选择小分类",""]), {}, id: 'sub_category_id', class: "form-control" %>
              </div>
              <div class="form-group col-sm-2">
                <%= f.select :detail_category_id_eq, detail_category_options.insert(0,["选择具体分类",""]), {}, id: 'detail_category_id', class: "form-control" %>
              </div>
              <div class="form-group">
                <div class="input-daterange input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
                  <%= text_field_tag :start_time, params[:start_time], class: 'datepicker form-control'  %>
                  <span class="input-group-addon">to</span>
                  <%= text_field_tag :end_time, params[:end_time], class: 'datepicker form-control' %>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">查询</button>
                  </span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>            
  </div>
  <div class="row">   
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-heading bk-bg-primary">
          <h6><i class="fa fa-table red"></i><span class="break"></span><%= @start_time %> 至 <%= @end_time %>&nbsp;&nbsp;产品销量</h6>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed table-hover">
              <thead>
                <tr>
                  <th>产品名称</th>
                  <th>销量</th>
                </tr>
              </thead>   
              <tbody>
                <% if @orders_shop_products_stats.each do |op| %>
                  <tr>
                    <td><%= op.name %></td>
                    <td><%= op.num %></td>
                  </tr>
                <% end.blank? %>
                  <tr><td colspan="2" class="green text-center">无记录</td></tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%= paginate @orders_shop_products_stats %>
        </div>
      </div>
    </div>          
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('input[class*="datepicker"]').attr('readonly', 'readonly').datepicker({
      todayBtn: "linked",
      autoclose: true,

      format: "yyyy-mm-dd"
    });
  });

  $("#category_id").change(function(){
    var set_url = "<%= select_options_categories_url %>" + 
                  "?category_id=" + $("#category_id").val() + 
                  "&id=sub_category_id&name=q[sub_category_id_eq]&first_option=选择小分类&class_name=SubCategory" + 
                  "&shop_id=<%= @product_shop.try(:id) %>";
    jQuery.ajax({
      type: "GET",
      url: set_url,
      dataType: "json",
      success: function(data){
        $('#sub_category_id').html(data.html);
      }
    });
  });
  $("#sub_category_id").change(function(){
    var set_url = "<%= select_options_categories_url %>" + 
                  "?sub_category_id=" + $("#sub_category_id").val() + 
                  "&id=detail_category_id&name=q[detail_category_id_eq]&first_option=选择具体分类&class_name=DetailCategory" + 
                  "&shop_id=<%= @product_shop.try(:id) %>";
    jQuery.ajax({
      type: "GET",
      url: set_url,
      dataType: "json",
      success: function(data){
        $('#detail_category_id').html(data.html);
      }
    });
  });
</script>
