<div class="main">
  <div class="page-header">
    <div class="pull-left">
      <ol class="breadcrumb visible-sm visible-md visible-lg">                
        <li><a href="<%= root_path %>"><i class="icon fa fa-home"></i>首页</a></li>
        <li><a href="<%= adverts_path %>"><i class="fa fa-table"></i>广告管理</a></li>
        <li class="active"><a href="javascript:void(0);"><i class="fa fa-pencil-square-o"></i><%= crumb_name(@advert) %>广告</a></li>
      </ol>           
    </div>
    <div class="pull-right">
      <h2><%= crumb_name(@advert) %>广告</h2>
    </div>          
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading bk-bg-primary">
          <h6><i class="fa fa-indent red"></i>填写表单</h6>              
        </div>
        <div class="panel-body">
          <%= form_for(@advert, html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
            <%= f.hidden_field :shop_id %>
            <%= f.hidden_field :shop_product_id %>
            <div class="form-group">
              <label class="col-sm-3 control-label">搜索产品:</label>
              <div class="col-sm-7">
                <%= text_field_tag :product_name, nil, class: "form-control" %>
              </div>
              <div class="col-sm-2">
                <button type="button" id="search_name" class="btn btn-primary btn-sm">查询</button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="detail_category_id">关联的产品</label>
              <div class="col-md-9">
                <%= select_tag :select_product_id, options_for_select([["选择关联的产品",""]]), class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">产品名称</label>
              <div class="col-md-9">
                <p class="form-control-static"><%= f.object.shop_product.try(:name) %></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="key">广告图片</label>
              <div class="col-md-9">
                <%= f.file_field :key, multiple: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-md-offset-3">
                <button type="submit" class="bk-margin-5 btn btn-primary">保存</button>
                <button type="button" class="bk-margin-5 btn btn-default" onclick="javascript:history.go(-1);">返回</button>
              </div>
            </div>
            <br>
          <% end %>
        </div>  
      </div>  
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#search_name").click(function(){
    var set_url = "<%= search_product_shop_products_url %>" + 
                  "?product_name=" + $("#product_name").val() + 
                  "&id=select_product_id&name=select_product_id&first_option=选择关联的产品";
    jQuery.ajax({
      type: "GET",
      url: set_url,
      dataType: "json",
      success: function(data){
        $('#select_product_id').html(data.html);
      }
    });
  });
  $("#select_product_id").change(function(){
    var $this=$(this);
    $('#advert_shop_product_id').val($this.val());
    $('.form-control-static').text($this.find("option:selected").text());
  });
</script>
