<div class="main sidebar-minified">     
  <div class="page-header">
    <div class="pull-left">
      <ol class="breadcrumb visible-sm visible-md visible-lg">                
        <li><a href="<%= root_path %>"><i class="icon fa fa-home"></i>首页</a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-list-alt"></i>店铺管理</a></li>
        <li class="active"><a href="<%= units_path %>"><i class="fa fa-table"></i>产品单位</a></li>
      </ol>           
    </div>
    <div class="pull-right">
      <h2>产品单位</h2>
    </div>          
  </div>
  <div class="row">   
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-heading bk-bg-primary">
          <h6><i class="fa fa-table red"></i><span class="break"></span>产品单位</h6>
        </div>
        <div class="panel-body">
          <%= render '/layouts/alert' %>
          <div class="table-responsive">  
            <div style="float: right;">
              <a href="<%= new_unit_path %>" class="bk-margin-5 btn btn-success"><i class="fa fa-plus"></i> 添加产品单位</a>
            </div>
            <table class="table table-bordered table-striped table-condensed table-hover">
              <thead>
                <tr>
                  <th>id</th>
                  <th>单位名称</th>
                  <th>操作</th>
                </tr>
              </thead>   
              <tbody>
                <% if @units.each do |unit| %>
                  <tr>
                    <td><%= unit.id %></td>
                    <td><%= unit.name %></td>
                    <td>
                      <%= link_to edit_unit_path(unit), class: "btn btn-info" do %>
                        <i class="fa fa-edit"></i>
                      <% end %>
                      <%= link_to unit_path(unit), class: "btn btn-danger", method: :delete, data: { confirm: '确定要删除吗？' } do %>
                        <i class="fa fa-trash-o"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end.blank? %>
                  <tr>
                    <td colspan="3" class="green text-center">无记录</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%= paginate @units %>
        </div>
      </div>
    </div>          
  </div>
</div>
