<div class="sidebar">
  <div class="sidebar-collapse">
    <!-- Sidebar Header Logo-->
    <div class="sidebar-header">
      <img src="/assets/logo.png" class="img-responsive" alt="" />
    </div>
    <!-- Sidebar Menu-->
    <div class="sidebar-menu">            
      <nav id="menu" class="nav-main" role="navigation">
        <ul class="nav nav-sidebar">
          <div class="panel-body text-center">                
            <div class="bk-avatar">
              <img src="/assets/avatar.jpg" class="img-circle bk-img-60" alt="" />
            </div>
            <div class="bk-padding-top-10">
              <i class="fa fa-circle text-success"></i> <small><%= @shop.try(:name) %></small>
            </div>
          </div>
          <div class="divider2"></div>
          <li class="nav-parent <%= 'active nav-expanded' if %w(categories sub_categories detail_categories).include?(controller_name) %>">
            <a>
              <i class="fa fa-list-alt" aria-hidden="true"></i><span>分类管理</span>
            </a>
            <ul class="nav nav-children">
              <li class="<%= 'active opened' if controller_name == 'categories' %>"><a href="<%= categories_path %>"><span class="text"> 大分类</span></a></li>
              <li class="<%= 'active opened' if controller_name == 'sub_categories' %>"><a href="<%= sub_categories_path %>"><span class="text"> 小分类</span></a></li>
              <li class="<%= 'active opened' if controller_name == 'detail_categories' %>"><a href="<%= detail_categories_path %>"><span class="text"> 具体分类</span></a></li>
            </ul>
          </li>
          <% if current_user.admin? %>
            <li class="nav-parent <%= 'active nav-expanded' if valid_shop_path? || valid_order_statistics_show_path? || valid_product_statistics_show_path? %>">
              <a>
                <i class="fa fa-list-alt" aria-hidden="true"></i><span>店铺管理</span>
              </a>
              <ul class="nav nav-children">
                <li class="<%= 'active opened' if controller_name == 'shop_models' %>"><a href="<%= shop_models_path %>"><span class="text"> 店铺模板</span></a></li>
                <li class="<%= 'active opened' if valid_shop_list_path? %>"><a href="<%= shops_path %>"><span class="text"> 店铺列表</span></a></li>
                <li class="<%= 'active opened' if %w(users registrations).include?(controller_name) %>"><a href="<%= users_path %>"><span class="text"> 店铺账号</span></a></li>
                <li class="<%= 'active opened' if controller_name == 'products' %>"><a href="<%= products_path %>"><span class="text"> 基础产品</span></a></li>
                <li class="<%= 'active opened' if controller_name == 'units' %>"><a href="<%= units_path %>"><span class="text"> 产品单位</span></a></li>
                <li class="<%= 'active opened' if controller_name == 'top_searches' %>"><a href="<%= top_searches_path %>"><span class="text"> 热门搜索</span></a></li>
              </ul>
            </li>
            <li class="<%= 'active opened nav-expanded' if controller_name == 'shoppers' %>">
              <a href="<%= shoppers_path %>">
                <i class="fa fa-table" aria-hidden="true"></i><span>用户管理</span>
              </a>
            </li>
            <li class="<%= 'active opened nav-expanded' if controller_name == 'order_statistics' && action_name == 'index' %>">
              <a href="<%= order_statistics_path %>">
                <i class="fa fa-random" aria-hidden="true"></i><span>交易统计</span>
              </a>
            </li>
          <% end %>
          <% if current_user.user? %>
            <li class="<%= 'active opened nav-expanded' if controller_name == 'shop_products' %>">
              <a href="<%= shop_products_path %>">
                <i class="fa fa-table" aria-hidden="true"></i><span>产品管理</span>
              </a>
            </li>
            <li class="<%= 'active opened nav-expanded' if controller_name == 'adverts' %>">
              <a href="<%= adverts_path %>">
                <i class="fa fa-table" aria-hidden="true"></i><span>广告管理</span>
              </a>
            </li>
            <li class="<%= 'active opened nav-expanded' if controller_name == 'orders' %>">
              <a href="<%= orders_path %>">
                <i class="fa fa-table" aria-hidden="true"></i><span>订单管理</span>
              </a>
            </li>
            <li class="<%= 'active opened nav-expanded' if controller_name == 'messages' %>">
              <a href="<%= messages_path %>">
                <i class="fa fa-table" aria-hidden="true"></i><span>推送管理</span>
              </a>
            </li>
            <li class="<%= 'active opened nav-expanded' if valid_order_statistics_show_path? %>">
              <a href="<%= order_statistic_path(@shop) %>">
                <i class="fa fa-random" aria-hidden="true"></i><span>交易统计</span>
              </a>
            </li>
            <li class="<%= 'active opened nav-expanded' if valid_product_statistics_show_path? %>">
              <a href="<%= product_statistic_path(@shop) %>">
                <i class="fa fa-list-ol" aria-hidden="true"></i><span>销量统计</span>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>
